.container{
background-color:#96CBDC ;
margin: -1px;
height: 5vh;
width:100vw;
display:flex;
justify-content: space-around;
align-items: center;
position: absolute;
}

.NavbarLink{
    font-size: 1.3rem;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}